* {
  margin: 0;
  font-family:
    "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, Helvetica,
    sans-serif;
}
header {
  width: 100%;
  height: 70px;
  background-color: rgba(157, 200, 44, 1);
}
.header {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo1 {
  width: 145px;
  margin-right: 35px;
}
.button1 {
  width: 120px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 16px;
}
.button1:hover {
  background-color: white;
  color: black;
  transform: translateY(-6px);
}
.link1 {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-left: 45px;
}
.link2 {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 130px;
}
.section1 {
  width: 100%;
  height: 650px;
  background-color: rgba(232, 232, 232, 1);
}
.container1 {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div1 {
  width: 50%;
}
.title1 {
  font-size: 48px;
  line-height: 60px;
  color: black;
  padding-bottom: 25px;
}
.parag1 {
  width: 520px;
  font-size: 18px;
  line-height: 30px;
  color: grey;
  padding-bottom: 45px;
}
.div2 {
  width: 500px;
  height: 55px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.input1 {
  width: 430px;
  height: 95%;
  border: none;
  font-size: 18px;
}
.button2 {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  background-color: rgba(157, 200, 44, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.size-6 {
  width: 25px;
}
.div3 {
  width: 50%;
  height: 600px;
  position: relative;
}
.img1 {
  width: 620px;
  position: absolute;
  right: 40px;
  top: 280px;
  z-index: 2;
}
.div4 {
  width: 280px;
  height: 260px;
  background-color: grey;
  border-radius: 10px;
  position: absolute;
  right: 160px;
  top: 180px;
  z-index: 1;
  padding: 30px;
  color: white;
}
.title2 {
  font-size: 24px;
  padding-bottom: 8px;
}
.parag2 {
  font-size: 14px;
  padding-bottom: 20px;
}
.parag3 {
  font-size: 18px;
  font-weight: bold;
}
.div5 {
  width: 160px;
  height: 26px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 120px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  padding: 14px 22px;
  position: absolute;
  z-index: 3;
}
.div6 {
  width: 160px;
  height: 26px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  top: 660px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  padding: 14px 22px;
  position: absolute;
  z-index: 3;
}
.section2 {
  width: 100%;
  padding: 140px 0;
}
.container2 {
  width: 90%;
  margin: auto;
}
.title3 {
  text-align: center;
  font-size: 48px;
  color: black;
  padding-bottom: 35px;
}
.div7 {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding-bottom: 55px;
}
.button3 {
  height: 42px;
  padding: 0 24px;
  border: none;
  border-radius: 8px;
  background-color: inherit;
  color: grey;
  font-size: 15px;
}
.button4 {
  height: 42px;
  padding: 0 24px;
  border: none;
  border-radius: 8px;
  background-color: rgba(54, 54, 54, 1);
  color: white;
  font-size: 16px;
}
.button3:hover {
  background-color: grey;
  color: white;
  transform: translateY(-3px);
  font-size: 18px;
}
.button4:hover {
  background-color: grey;
  color: white;
  transform: translateY(-3px);
  font-size: 18px;
}
.div8 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.div9 {
  width: 20%;
}
.div10 {
  width: 100%;
  height: 290px;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.img3 {
  width: 190px;
}
.title4 {
  font-size: 28px;
  color: black;
  padding-bottom: 10px;
}
.parag4 {
  font-size: 16px;
  color: grey;
  padding-bottom: 18px;
}
.narx1 {
  font-size: 34px;
  color: black;
}
.div11 {
  display: flex;
  align-items: center;
  gap: 12px;
}
.narxipeshina1 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.25);
  text-decoration: line-through;
}
.section3 {
  width: 100%;
  padding: 50px 0px;
}
.container3 {
  width: 90%;
  margin: auto;
}
.title5 {
  text-align: center;
  font-size: 48px;
  padding-bottom: 50px;
}
.div12 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}
.div13 {
  height: 420px;
  background-image: url("images/bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.div14 {
  width: 40%;
}
.parag5 {
  color: rgba(157, 200, 44, 1);
  font-size: 18px;
  padding-bottom: 15px;
}
.title6 {
  font-size: 56px;
  padding-bottom: 15px;
}
.parag6 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 18px;
  padding-bottom: 25px;
}
.div15 {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 30px;
}
.narx2 {
  font-size: 36px;
}
.narxipeshina2 {
  color: rgba(0, 0, 0, 0.25);
  text-decoration: line-through;
  font-size: 18px;
}
.button5 {
  width: 150px;
  height: 50px;
  background-color: rgba(157, 200, 44, 1);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
}
.img4 {
  width: 420px;
}
.div16 {
  display: grid;
  gap: 25px;
}
.div17 {
  height: 197px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.img5 {
  width: 100%;
  height: 100%;
}
.div18 {
  position: absolute;
  left: 25px;
  bottom: 25px;
  z-index: 2;
}
.title7 {
  width: 390px;
  color: white;
  font-size: 34px;
  line-height: 42px;
  padding-bottom: 10px;
}
.parag7 {
  color: white;
}
.div19 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 25px;
}
.div20 {
  height: 220px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.img6 {
  width: 100%;
  height: 100%;
}
.div21 {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.title8 {
  color: white;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  padding-bottom: 8px;
}
.parag8 {
  color: white;
}
.div22 {
  width: 91%;
  height: 40vh;
  background-color: rgba(255, 38, 50, 1);
  border-radius: 12px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}
.title9 {
  color: white;
  font-size: 60px;
  padding-bottom: 20px;
}
.parag9 {
  color: white;
  font-size: 23px;
  line-height: 38px;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
.button6 {
  width: 140px;
  height: 45px;
  background-color: white;
  color: rgba(255, 38, 50, 1);
  font-size: 17px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}
.img7 {
  width: 390px;
}
.section4 {
  width: 100%;
  padding: 90px 0;
  background-color: rgb(245, 245, 245);
}
.container4 {
  width: 90%;
  margin: auto;
}
.title10 {
  text-align: center;
  font-size: 48px;
  padding-bottom: 55px;
}
.div24 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button7 {
  width: 42px;
  height: 42px;
  border: none;
  background-color: rgb(114, 202, 63);
  border-radius: 50%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div25 {
  width: 92%;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.div26 {
  width: 31%;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}
.div27 {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}
.img8 {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.title11 {
  font-size: 22px;
  padding-bottom: 8px;
}
.img9 {
  width: 110px;
  margin-left: 170px;
}
.parag10 {
  font-size: 18px;
  line-height: 32px;
  color: grey;
  padding-bottom: 25px;
}
.parag11 {
  text-align: end;
  color: grey;
}
.div28 {
  margin-top: 110px;
}
.title12 {
  font-size: 46px;
  padding-bottom: 30px;
}
.parag12 {
  width: 1100px;
  font-size: 24px;
  line-height: 42px;
  color: grey;
  padding-bottom: 55px;
}
.div29 {
  display: flex;
  justify-content: space-between;
}
.div30 {
  width: 20%;
  height: 220px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img10 {
  width: 55px;
  margin-bottom: 25px;
}
.title13 {
  text-align: center;
  font-size: 28px;
  line-height: 36px;
}
footer {
  padding: 50px 0;
}
.container5 {
  width: 82%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.div31 {
  width: 26%;
}
.img11 {
  width: 250px;
  margin-bottom: 30px;
}
.title14 {
  width: 500px;
  font-size: 28px;
  line-height: 42px;
  color: rgba(140, 192, 4, 1);
  padding-bottom: 20px;
}
.parag13 {
  font-size: 14px;
  color: grey;
}
.div32 {
  width: 17%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.title15 {
  font-size: 28px;
  color: grey;
  padding-bottom: 28px;
}
.link3 {
  text-decoration: none;
  color: grey;
  font-size: 18px;
  margin-bottom: 18px;
}
.div33 {
  width: 24%;
}
.parag14 {
  font-size: 18px;
  color: grey;
  line-height: 42px;
}
